django==4.2
djoser
djangorestframework
djangorestframework-simplejwt
django-rest-auth
psycopg2-binary
drf-spectacular
dj-database-url
gunicorn
pillow
django-cors-headers
tzdata
django-multiselectfield
django-filter
boto3
django-storages